body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #180404;
  color: rgb(255, 246, 246);
}

header {
  background: #1d191b;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

nav {
  background: #2E0D0D;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #ffd2d9;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: url("images/mizi-karma-newest-release.jpg") center/cover no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 2px 2px 5px black;
}

.hero {
  color: white;
}

.hero a:visited {
  color: white;
}

.hero a:hover {
  color:rgb(214, 10, 10) ;
  text-decoration: underline;
  text-decoration-color: rgb(214, 10, 10);
}

.mizi {
  width: 200px;
  height: 300px;
  border-radius: 100px;
  object-fit: cover;
}

section {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

footer {
  background: #222;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}
